<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label>Favorite songs</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th ng-repeat="header in headers">
                        {{header.name}}
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in likedSongs">
                        <td>
                            {{m.artistName}}
                        </td>
                        <td>
                            {{m.songName}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>