<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="songTitle">Search song</label>
                    <input type="text" ng-model="search.songName" class="form-control" id="songTitle" placeholder="song name">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th ng-repeat="header in headers">
                        {{header.name}}
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in musicStore | orderBy:'-songName' | filter:search:strict" >
                        <td>
                            {{m.artistName}}
                        </td>
                        <td>
                            {{m.songName}}
                        </td>
                        <td>
                            <div class="checkbox" ng-show="!(isAddedToFavorites(m.songName))">
                                <label>
                                    <input type="checkbox"  ng-click="addToFavorites(m.songName, m.artistName)">

                                </label>
                            </div>
                            <div style="cursor:pointer" class="glyphicon glyphicon-remove" ng-show="isAddedToFavorites(m.songName)" ng-click="removeFromFavorites(m.songName)"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>